<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <title>好律師你在哪裡</title>
    <link href="{% static "lawyerFinder/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "lawyerFinder/css/modern-business.css" %}" rel="stylesheet">
    
    <link rel="shortcut icon" href="images/favicon.png">
</head>

<body>
{% include "common/header.html" %}
{% block container %}

<form>
    {{ testform.media }}
    {{ testform.as_p }}
    <input type="submit"/>
</form>
    
    
    {{ lawyer_input.basic|safe }}
{% endblock container %}


{% block js %}
    <script src="{% static "lawyerFinder/js/jquery.js" %}"></script>
    <script src="{% static "lawyerFinder/js/bootstrap.js" %}"></script>

    <script src="{% static "lawyerFinder/js/bootstrap-multiselect.js" %}"></script>
    <link href="{% static "lawyerFinder/css/bootstrap-multiselect.css" %}" rel="stylesheet">
    
    
{% endblock js %}
</body>
</html>
