<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    {% block title %}<title>好律師你在哪裡</title>{% endblock title %}
    <link href="{% static "lawyerFinder/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "lawyerFinder/css/modern-business.css" %}" rel="stylesheet">
    
    <link rel="shortcut icon" href="images/favicon.png">
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">好律師你在哪裡</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="about.html">關於本站</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">找律師看這裡<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'user_login' %}">登入</a>
                            </li>
                            <li>
                                <a href="{% url 'lawyer_login' %}">申請帳號</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">律師們看這裡<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'lawyer_login' %}">登入</a>
                            </li>
                            <li>
                                <a href="{% url 'register' %}">申請帳號</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    
    <div class="container">
        <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2" style="margin-top: 2em;">
        <div class="panel panel-default">
            <div class="panel-heading">
                {% block containerTitle %}<h3 class="panel-title">form template title</h3>{%endblock containerTitle %}
            </div>
            <div class="panel-body">
            {% block container %}
                <form class="form" action="{% url 'user_login' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <div class="form-group">
                        <input class="form-control" placeholder="Username" name="username" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" name="password" type="password" value="">
                    </div>
                    <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                </form>
             {% endblock container %}
            </div>
        </div>
    </div>
</div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" type="text/javascript"></script>

</body>

</html>




