{% extends "accounts/_base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}<title>使用者註冊</title>{% endblock title %}

{% block containerTitle %}<h3 class="panel-title">使用者註冊</h3>{%endblock containerTitle %}

{% block container %}
<form role="form" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {% bootstrap_field user_reg_form.username %}
    {% bootstrap_field user_reg_form.password %}
    {% bootstrap_field user_reg_form.checkpassword %}
    <div id="siterule_div">
    {% bootstrap_field user_reg_form.siterule %}
    </div>
    
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" align="center">{{ message|safe }}</div>
        {% endfor %}
    {% endif %}
    
    <div align=center>{% buttons submit='OK' %}{% endbuttons %}</div>
    
    
</form>
{% endblock container %}



{% block customJs %}
<script>
    
    $(function() {
        var url = "{{ service_url }}";
        
        $('#siterule_div').find('.control-label').empty();
        $('#siterule_div').find('.control-label').prepend('同意<a id="site_rule_content" target="_blank" href="' + url + '">服務條約</a>');
    });
</script>

{% endblock customJs %}
