{% extends "accounts/_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load classfinder %}
{% load serialization %}
{% load translater %}

{% block title %}<title>律師註冊</title>{% endblock title %}

{% block containerTitle %}<h3 class="panel-title">律師註冊</h3>{%endblock containerTitle %}

{% block container %}
<form id="lawyer_regist_form" role="form" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    
    {% if stageflag == "1" %}
        {% bootstrap_field agreement_regform.username %}
        {% bootstrap_field agreement_regform.password %}
        {% bootstrap_field agreement_regform.checkpassword %}
        <div id="siterule_div">
        {% bootstrap_field agreement_regform.siterule %}
        </div>
        
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" align="center">{{ message|safe }}</div>
            {% endfor %}
        {% endif %}
        
    {% elif stageflag == "2" %}
        {% bootstrap_form lawyer_nameform %}
        {% bootstrap_form lawyer_regform %}
    {% elif stageflag == "3" %}
        <table class="table table-condensed table-striped">
            <div align=center>{% trans "Please Confirm Again" %}</div>
            <tbody>
                {% with trans=confirm_form|get_translate %}
                {% for key, values in trans.items %}
                <tr>
                    <td align="center"><strong>{{ key }}</strong></td>
                    {% if values|get_class == 'list' %}
                        <td align="center">{{ values|get_trans_string }}</td>
                    {% else%}
                        <td align="center">{{ values }}</td>
                    {% endif%}
                </tr>
                {% endfor %}
                {% endwith %}
            </tbody>
        </table>
        
    {% endif %}
    
    <input type="hidden" name="flag" value={{ stageflag }}></input>
    
    
    <div align=center>{% buttons submit='OK' %}{% endbuttons %}</div>
    
    
</form>
{% endblock container %}


{% block customJs %}
<script>
    $(function() {
        var url = "{{ service_url }}";
        $('#siterule_div').find('.control-label').empty();
        $('#siterule_div').find('.control-label').prepend('同意<a id="site_rule_content" target="_blank" href="' + url + '">服務條約</a>');
    });
</script>

{% endblock customJs %}



