{% extends "accounts/_base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load classfinder %}
{% load serialization %}
{% load translater %}

{% block title %}<title>律師註冊</title>{% endblock title %}

{% block containerTitle %}<h3 class="panel-title">律師註冊</h3>{%endblock containerTitle %}

{% block container %}
<form role="form" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    
    {% if stageflag == "1" %}
        {% bootstrap_form agreement_regform %}
    {% elif stageflag == "2" %}
        {% bootstrap_form lawyer_regform %}
    {% elif stageflag == "3" %}
        <table class="table table-condensed table-striped">
            <div align=center>{% trans "Please Confirm Again" %}</div>
            <tbody>
                {% with trans=confirm_form|get_translate %}
                {% for key, values in trans.items %}
                <tr>
                    <td align="center"><strong>{{ key }}</strong></td>
                    {% if values|get_class == 'list' %}
                        <td align="center">{{ values|get_trans_string }}</td>
                    {% else%}
                        <td align="center">{{ values }}</td>
                    {% endif%}
                </tr>
                {% endfor %}
                {% endwith %}
            </tbody>
        </table>
        
    {% endif %}
    
    <input type="hidden" name="flag" value={{ stageflag }}></input>
    
    
    <div align=center>{% buttons submit='OK' %}{% endbuttons %}</div>
    
    
</form>
{% endblock container %}