{% extends "accounts/_base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}<title>使用者註冊</title>{% endblock title %}

{% block containerTitle %}<h3 class="panel-title">使用者註冊</h3>{%endblock containerTitle %}

{% block container %}
<form role="form" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    
    {% if stageflag == "1" %}
        {% bootstrap_form agreement_regform %}
    {% elif stageflag == "2" %}
        {% bootstrap_form lawyer_regform %}
    {% endif %}
    
    <input type="hidden" name="flag" value={{ stageflag }}></input>
    
    {% buttons submit='OK' reset="RESET"%}{% endbuttons %}
    
</form>
{% endblock container %}