<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
{% load i18n %}
{% load getArea %}
{% load getField %}

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>好律師你在哪裡</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static "lawyerFinder/css/bootstrap.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "lawyerFinder/css/modern-business.css" %}" rel="stylesheet">
    <link href="{% static "lawyerFinder/css/lawyerProfile.css" %}" rel="stylesheet">
    <link href="{% static "lawyerFinder/css/slider.css" %}" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="{% static "lawyerFinder/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="{% static "lawyerFinder/js/hammer.js" %}"></script>

</head>

<body>

{% include "common/header.html" %}

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">基本資料
                    <small>上班時間8:00-18:00</small>
                </h2>
            </div>
        </div>
        <!-- /.row -->

        <!-- Image Header -->
        {% for law in law_info%}
        <div class="row">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-3 text-center">
                        <figure>
                            <h2><img src="http://placehold.it/150x150" alt="" class="img-rounded img-responsive"></h2>
                        </figure>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <h2><a href="/lawyerHome/{{ law.lawyerNo }}">{{ law.user.first_name }}</a></h2>
                        <figcaption class="ratings">
                                <p>Ratings
                                <a href="#">
                                    <span class="fa fa-star"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-star"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-star"></span>
                                </a>
                                <a href="#">
                                    <span class="fa fa-star"></span>
                                </a>
                                <a href="#">
                                     <span class="fa fa-star-o"></span>
                                </a> 
                                </p>
                        </figcaption>
                        <p><strong>執業年數: </strong>{{ law.careerYear }}</p>
                        <p><strong>執業地區: </strong>{{ law|get_area }}</p>
                        <p><strong>擅長領域: </strong>
                            {% for field in law|get_field %}
                                <span class="tags">{{ field.litigations.category_cn }}</span>
                            {% endfor %}
                        </p>
                    </div>
                </div>
        </div>
        {% endfor %}
        <!-- /.row -->
        
        {% include "lawyerFinder/_consulting.html" %}
        {% include "lawyerFinder/_service.html" %}
        <hr>
        
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>
    </div>
    <!-- /.container -->

    <script src="{% static "lawyerFinder/js/jquery.js" %}"></script>
    <script src="{% static "lawyerFinder/js/bootstrap.js" %}"></script>
    <script>
      $(function() {
          var myElement = document.getElementById('CarouselDown');
          var mc = new Hammer(myElement);
          // listen to events
          mc.on("panleft", function(ev) {
              $('.carousel').carousel('next');
          });
          mc.on("panright", function(ev) {
              $('.carousel').carousel('prev');
          })
      });
      
      $('.carousel').carousel({
        interval: 0 //changes the speed
      })
      
      
    </script>

</body>

</html>
